//css positioning router texts to the center

#myhead {
    position: absolute;
  
    width: 434px;
  
    height: 1080px;
  
    left: 600px;

    right: 500px;
  
    top: 100px;
  
    background: #d64d4d;
  }

#myHead2 {
    position: absolute;
  
    width: 434px;
  
    height: 1080px;
  
    left: 600px;

    right: 500px;
  
    top: 100px;
  
    background: #d64d4d;
  }

#myHead3 {
    position: absolute;
  
    width: 434px;
  
    height: 1080px;
  
    left: 600px;

    right: 500px;
  
    top: 100px;
  
    background: #d64d4d;
  }

#myHead4 {
    position: absolute;
  
    width: 434px;
  
    height: 1080px;
  
    left: 600px;

    right: 500px;
  
    top: 100px;
  
    background: #d64d4d;
  }

#myHead5 {
    position: absolute;
  
    width: 434px;
  
    height: 1080px;
  
    left: 600px;

    right: 500px;
  
    top: 100px;
  
    background: #d64d4d;
  }
